[
  {
    "Номер билета": 1,
    "Вопрос": "Что такое политэкономия?",
    "Ответ": "Политэкономия - это наука, изучающая экономические отношения в обществе."
  },
  {
    "Номер билета": 2,
    "Вопрос": "Назовите основные экономические системы.",
    "Ответ": "Основные экономические системы: традиционная, рыночная, командная и смешанная."
  }
]

